.header-container {
  height: 4rem;
  padding: 0 10%;
  border-bottom: 2px solid #efefef;
  margin: 20px;
  color: #000;
}

.header-container nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header-container li {
  margin: 10px;
  color: #000;
  text-align: center;
}

.header-container a {
  color: #333;
  text-decoration: none;
}

.header-container a.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.logo-container {
  background-image: url(/src//assets/planet.png);
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
}

@media (max-width: 650px) {
  .logo-container {
    width: 60px;
  }
}
