.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1px;
  background-color: #aaa5a5;
  width: 350px;
  margin: 50px auto;
  margin-top: 150px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

li {
  list-style-type: none;
}
