.rocket-detailed-container {
  display: flex;
  margin: 20px;
  flex-direction: row;
}

li {
  list-style-type: none;
}

.img-spaceX {
  width: 300px;
  margin: 20px;
}

.logo-detail {
  font-size: 20px;
}

@media (max-width: 650px) {
  body {
    overflow-x: hidden;
  }

  .rocket-detailed-container {
    display: flex;
    margin: 40px;
    flex-direction: column;
  }

  .img-spaceX {
    width: 100%;
    margin: 0;
  }

  .logo-detail {
    font-size: 12px;
  }
}
